*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;  
    box-sizing: border-box;
}
.container{
    max-width: 400px;
    margin: 5rem auto;
    text-align: center;
    background-color: rgba(122, 244, 244, 0.735);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1{
    color: rgb(0, 0, 0);
    margin-bottom: 1.5rem;

}
input{
    padding: 0.5rem;
    width: 100px;
    font-size: 1rem;
    margin-bottom: 1rem;
}
button{
    padding: 0.5rem 1rem;
    background-color: burlywood;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: chocolate;

}
#result{
    margin-top: 2rem;
    text-align: right;
}
.error{
    color: red;
}